.container{
    margin: 0 auto;
    width: 960px;
}

body{ 
    background: #faf9bfe0;
    font-family: Gravity Font;
    font-size: x-large;
    line-height: 0.9;
    color: #000000


}
h2 {
    color: #000000;
    text-decoration: none;
}
h1{
    color: #86a809;
    text-decoration: none;
}

img{
    width: 900px;
}
    .place {
        border-color: #408b0f #408b0f #408b0f #408b0f;
        border: 2px solid #408b0f;
        margin-bottom: 25px;
        padding: 10px;
        background-color: #ffffff;
        float: left;
    }
    .place h2 {
        border-bottom: 1px dashed #408b0f;
        margin: 10;
    }
    .place img {
        border: 1px solid #7E9F19;
        float: left;
        margin: 10px 10px 0 0;
        padding: 2px;
        width: 200px
    }
    .sidenote {
        background-color: #FFFBE4;
        border: 2px solid #C9BC8F;
        padding: 10px;
        float:right;
        width: 200px;
        margin-bottom: 20px;
        
    }
    .places {
        float: left;
        width: 660px;
    }
    .footer {
        font-size: 12px;
        text-align: center;
    }

    .clear {
        clear: both;
        }
 
